*{
    padding: 0;margin: 0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
 width: 100%;
 min-height:70px ;
 background: rgb(37, 36, 36);
 color: white;
 font-size: large;
 position: fixed;
 top: 0;
}
header .content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
   
    
}
header .logo{
    
  width: 40%;
    vertical-align: middle;
   margin-top: 15px;
}
header .content .logo img{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

header .content .nav{
    display: flex;
    margin:20px;
}
header .content .nav a,.logo a{

    transition:all .5s ease
}
header .content .nav li{
    margin-right: 20px;
    list-style: none;
}
header .content .nav li a:hover,.logo a:hover{
    background:#cccccc;
    padding: 10px;
    border-radius: 5px;
}
.banniere{
    background: url(images/bannire.png) no-repeat center;
    background-size: 100% 100%;
    height: 600px;
    margin-top: 70px;
    color: white;
    text-align: center;
    font-size: 34px;
    padding: 30px;
}
.banniere h1{
    font-size: 100px;
    margin-bottom: 40px;
}
.banniere p{
    font-size: 54px;
    margin-bottom: 80px;
}
.banniere div a{
 margin-right: 20px;
 padding: 20px;
 border:3px white solid;
 border-radius: 5px;
 text-align: center;
 transition: all .5s ease;

}
.banniere div a:hover{
    color: #8b8888;
    border:3px black solid;
}
.articles{
    padding: 50px;
    text-align: center;
}
.articles h3,.client h3{
    font-size: 34px;
    color: gray;
    padding-bottom: 40px;
}
.articles div{
    display: inline-block;
    width: 20%;
    text-align: justify;
    margin-right: 50px;
}
.articles img{
    width: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.articles h4{
    margin-bottom: 20px; 
}
.client{
    text-align: center;
    background: #eeeeee ;
    padding: 50px;
}
.client div{
    display: inline-block;
    width: 25%;
    margin-right: 40px;
}
.client .p{
    
    background: white ;
    font-size: 24px;
    padding: 10px;
    word-wrap: break-word;
    text-align:left ;
    border-radius: 5px;
    margin-bottom: 10px;
}
.client div img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer{
    background: rgb(37, 36, 36);
    text-align: center;
    color: gray;
    padding: 30px 0;
}
footer img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
#contact{
    width: 100%;
    height: auto;
    margin: 20px;
}
form{
   width: 60%;
   height: auto;
   margin: auto;
   box-shadow: 4px 3px 4px rgba(0,0,0,0.5),0 0 4px rgba(0,0,0,0.5); 
   padding: 10px;
   border-radius: 5px;
}
label{
    font-size: x-large;
    margin-bottom: 10px;
}
form input,button{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    font-size: large;
    text-align: center;
}
form input[type="submit"],button{
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}
form input[type="submit"]:hover{
    background-color: rgb(14, 65, 131);
    transition: 0.5s;
}
form input:focus{
    background-color: rgb(212, 250, 250);
    transition: 0.5s;
}
@media screen and (max-width:1050px){
    header .content .nav{
        display: flex;
        flex-direction: column;
    }
    header .content .nav li{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:750px){
    .banniere {
        font-size: medium;
    }
    .banniere div h1{
        font-size: 60px;

    }
    .banniere div  p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .banniere div a{
        display: block;
        margin-bottom: 10px;
    }
    .articles div,.client div{
        display: block;
        width: 100%;
        text-align: center;
    }
    .articles h3{
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }
}